Server/src/main/resources/wsdl/bank.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="Bank"
                  targetNamespace="http://bsr.com/services/bank"
                  xmlns:tns="http://bsr.com/services/bank" xmlns:types="http://bsr.com/types/bank"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
        <xsd:schema targetNamespace="http://bsr.com/types/bank"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                    version="1.0">

            <xsd:element name="AuthHeader">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="username" type="xsd:string"/>
                        <xsd:element name="password" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="InternalTransferRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sourceAccount" type="xsd:string"/>
                        <xsd:element name="destinationAccount" type="xsd:string"/>
                        <xsd:element name="title" type="xsd:string"/>
                        <xsd:element name="amount" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="PaymentRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="destinationAccount" type="xsd:string"/>
                        <xsd:element name="amount" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="WithdrawalRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="destinationAccount" type="xsd:string"/>
                        <xsd:element name="amount" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="AccountHistoryRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="account" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ExternalTransferRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sourceAccount" type="xsd:string"/>
                        <xsd:element name="destinationAccount" type="xsd:string"/>
                        <xsd:element name="title" type="xsd:string"/>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="amount" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="OperationSuccessResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="AccountHistoryElement">
                <xsd:sequence>
                    <xsd:element name="title" type="xsd:string"/>
                    <xsd:element name="amount" type="xsd:int"/>
                    <xsd:element name="balance" type="xsd:int"/>
                    <xsd:element name="sourceAccountNumber" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="AccountsElement">
                <xsd:sequence>
                    <xsd:element name="accountNumber" type="xsd:string"/>
                    <xsd:element name="balance" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="AccountHistoryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="AccountHistory" type="types:AccountHistoryElement" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="LoginRequest">
                <xsd:complexType>

                </xsd:complexType>
            </xsd:element>

            <xsd:element name="LoginResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Accounts" type="types:AccountsElement" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>


        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="AuthHeader">
        <wsdl:part name="header" element="types:AuthHeader"/>
    </wsdl:message>

    <wsdl:message name="InternalTransferInput">
        <wsdl:part name="InternalTransferRequest" element="types:InternalTransferRequest"/>
    </wsdl:message>

    <wsdl:message name="InternalTransferOutput">
        <wsdl:part name="InternalTransferResponse" element="types:OperationSuccessResponse"/>
    </wsdl:message>

    <wsdl:message name="PaymentInput">
        <wsdl:part name="PaymentRequest" element="types:PaymentRequest"/>
    </wsdl:message>

    <wsdl:message name="PaymentOutput">
        <wsdl:part name="PaymentResponse" element="types:OperationSuccessResponse"/>
    </wsdl:message>

    <wsdl:message name="WithdrawalInput">
        <wsdl:part name="WithdrawalRequest" element="types:WithdrawalRequest"/>
    </wsdl:message>

    <wsdl:message name="WithdrawalOutput">
        <wsdl:part name="WithdrawalResponse" element="types:OperationSuccessResponse"/>
    </wsdl:message>

    <wsdl:message name="AccountHistoryInput">
        <wsdl:part name="AccountHistoryRequest" element="types:AccountHistoryRequest"/>
    </wsdl:message>

    <wsdl:message name="AccountHistoryOutput">
        <wsdl:part name="AccountHistoryResponse" element="types:AccountHistoryResponse"/>
    </wsdl:message>

    <wsdl:message name="ExternalTransferInput">
        <wsdl:part name="ExternalTransferRequest" element="types:ExternalTransferRequest"/>
    </wsdl:message>

    <wsdl:message name="ExternalTransferOutput">
        <wsdl:part name="ExternalTransferResponse" element="types:OperationSuccessResponse"/>
    </wsdl:message>

    <wsdl:message name="LoginRequest">
        <wsdl:part name="LoginRequest" element="types:LoginRequest"/>
    </wsdl:message>

    <wsdl:message name="LoginResponse">
        <wsdl:part name="LoginResponse" element="types:LoginResponse"/>
    </wsdl:message>

    <wsdl:portType name="Bank_PortType">
        <wsdl:operation name="internalTransfer">
            <wsdl:input message="tns:InternalTransferInput"/>
            <wsdl:output message="tns:InternalTransferOutput"/>
        </wsdl:operation>
        <wsdl:operation name="payment">
            <wsdl:input message="tns:PaymentInput"/>
            <wsdl:output message="tns:PaymentOutput"/>
        </wsdl:operation>
        <wsdl:operation name="withdrawal">
            <wsdl:input message="tns:WithdrawalInput"/>
            <wsdl:output message="tns:WithdrawalOutput"/>
        </wsdl:operation>
        <wsdl:operation name="accountHistory">
            <wsdl:input message="tns:AccountHistoryInput"/>
            <wsdl:output message="tns:AccountHistoryOutput"/>
        </wsdl:operation>
        <wsdl:operation name="externalTransfer">
            <wsdl:input message="tns:ExternalTransferInput"/>
            <wsdl:output message="tns:ExternalTransferOutput"/>
        </wsdl:operation>
        <wsdl:operation name="login">
            <wsdl:input message="tns:LoginRequest"/>
            <wsdl:output message="tns:LoginResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="Bank_SoapBinding" type="tns:Bank_PortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="internalTransfer">
            <soap:operation soapAction="http://bsr.com/services/bank/internalTransfer"/>
            <wsdl:input>
                <soap:header message="tns:AuthHeader" part="header" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="payment">
            <soap:operation soapAction="http://bsr.com/services/bank/payment"/>
            <wsdl:input>
                <soap:header message="tns:AuthHeader" part="header" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="withdrawal">
            <soap:operation soapAction="http://bsr.com/services/bank/withdrawal"/>
            <wsdl:input>
                <soap:header message="tns:AuthHeader" part="header" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="accountHistory">
            <soap:operation soapAction="http://bsr.com/services/bank/accountHistory"/>
            <wsdl:input>
                <soap:header message="tns:AuthHeader" part="header" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="externalTransfer">
            <soap:operation soapAction="http://bsr.com/services/bank/externalTransfer"/>
            <wsdl:input>
                <soap:header message="tns:AuthHeader" part="header" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:AuthHeader" part="header" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="login">
            <soap:operation soapAction="http://bsr.com/services/bank/login"/>
            <wsdl:input>
                <soap:header message="tns:AuthHeader" part="header" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Bank_Service">
        <wsdl:documentation>Bank service</wsdl:documentation>
        <wsdl:port name="Bank_Port" binding="tns:Bank_SoapBinding">
            <soap:address location="http://localhost:8080/ws/bank"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>